<section id="#about" class="about">
  <h1>About</h1>
  <p>
    Highly motivated and detail-oriented web developer with a strong foundation
    in HTML, CSS, and JavaScript. Persuing a Bachelor's degree in Computer
    Science and completed several web development projects during academic
    years. Proficient in using frameworks like React and Angular. Excels at
    problem-solving and committed to producing high-quality code. Seeking an
    opportunity to apply skills and gain experience in a challenging work
    environment.
  </p>

  <div class="about-contacts">
    <div class="contact-card">
      <img src="assets/images/icon.png" alt="icon" />
      <p class="card-heading">Full Name</p>
      <p class="card-desc">Ansh Kataria</p>
    </div>
    <div class="contact-card">
      <img src="assets/images/icon.png" alt="icon" />
      <p class="card-heading">Email Address</p>
      <p class="card-desc">anshkataria28@gmail.com</p>
    </div>
    <div class="contact-card">
      <img src="assets/images/icon.png" alt="icon" />
      <p class="card-heading">Github</p>
      <p class="card-desc">https://github.com/Ansh-Kataria</p>
    </div>
    <div class="contact-card">
      <img src="assets/images/icon.png" alt="icon" />
      <p class="card-heading">Phone</p>
      <p class="card-desc">+91-9518640541</p>
    </div>
  </div>
</section>
