.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}

.hero h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;

  color: white;

}

.hero p {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: rgba(130, 130, 130, 1);

  padding: 20px 0;
}

.hero button {
  padding: 12px 27px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: white;

  cursor: pointer;
}

.hero-btns {
  display: flex;
  justify-content: space-between;
}

.btn-download {
  background: #27ae60;
  border: none;
}

.btn-download:hover {
  background: transparent;
  border: 1px solid #f2f2f2;
}

.btn-hero {
  background: transparent;
  border: 1px solid #f2f2f2;
}

.btn-hero:hover {
  background: #27ae60;
  border: none;
}
