.work {
  color: white;
}

.work h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
}

.work-container {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-component {
  background: #212121;

  padding: 36px 70px 36px 50px;

  align-items: start;
}

.work-component p {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;

  color: #535353;
}
