.work {
  color: white;
}

.work h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
}

.work-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.work-container:nth-child(2) {
  color: lightgray;
}
