<Section class="work" id="#services">
  <h1>What i do</h1>
  <div class="work-container">
    <div class="work-component">
      <img src="assets/images/work1.png" alt="work1" />
      <p>Software Development</p>
    </div>
    <div class="work-component">
      <img src="assets/images/work2.png" alt="work2" />
      <p>Web Development</p>
    </div>
    <div class="work-component">
      <img src="assets/images/work3.png" alt="work3" />
      <p>Salesforce Developer</p>
    </div>
  </div>
</Section>
